html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.home-icon{
  /* home / home_fill */

position: absolute;
width: 24px;
height: 24px;
left: 21px;
top: 15px;



/* Subtract */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 14.23%;
bottom: 8.33%;

background: #000000;

}


